# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# No binary data
assets
third-party
xcode/utaha.xcodeproj/project.xcworkspace/xcshareddata
xcode/utaha.xcodeproj/xcuserdata

vs/x64
vs/.vs
vs/Debug
vs/debug
vs/Release
vs/release
vs/libs/x86/res
vs/libs/x86/tests
vs/libs/x86/assets
vs/libs/x64/res
vs/libs/x64/tests
vs/libs/x64/assets
vs/utaha.vcxproj.user

*.idb
*.pdb
